<header>
  <nav> 
    <div class="container">
        <a href="#" routerLink="/" class="logo">TC ☺ Food Corner!</a>
        
          <ul> 
            <li> 
                
              <!--<a routerLink="login"> <i class="fa fa-fw fa-user"></i> Login </a>-->

                <a routerLink="login"> <i class="fa fa-fw fa-user" aria-hidden="true"></i> Login </a>
                <a routerLink="Contactus"> <i class="fa fa-phone-square" aria-hidden="true"></i> ContactUs </a>

            </li>
          </ul>  
 
  
      </div> 
    </nav> 
</header>


 